#main {
  background-color: #aabacc;
  width: 100%;
  min-height: 100vh;
}
#content {
  width: 60%;
  border-radius: 0.4rem;
  padding: 0.75rem;
  background-color: #fff;
  margin-bottom: 2rem;
}

#task_add {
  border-radius: 0.3rem;
  background-color: #fff;
}

#tasks {
  border-radius: 0.3rem;
  background-color: #fff;
}

.tasks input {
  border-radius: 0;
}

.tasks button {
  border-color: transparent;
}

.tasks svg {
  width: 1.25rem !important;
}
